body {
    background-color: #f3f5fc;
    font-family: Inter;
    margin: 0;
}

.container-dialog {
    align-items: center;
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    color: #343A40;
    height: 100%;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100%;
}

.dialog {
    border-radius: 20px;
    background-color:white;
    margin-inline: 10px;
    max-width: 200px;
    padding-block: 30px;
    padding-inline: min(70px, 10%);
    width: 100%;
}

.dialog button {
    font-weight: bold;
    padding-block: 10px;
}

.dialog img {
    display: block;
    margin: 0 auto 30px;
    width: 100%;
    max-width: 50px;
}

.container-externo {
    display: flex;
    padding: 40px;
}

.container-esquerda {
    max-width: 1280px;
    width: 100%;
}

header {
    width: 100%;
    padding-bottom: 80px;
}

main {
    padding-left: 20%;
    box-sizing: border-box;
}

textarea {
    background-color: transparent;
    border: none;
    color: #0A3871;
    font-size: 24px;
    font-family: Inter;
    height: 289px;
    resize: none;
    width: 100%;
}

textarea:focus {
    border: none;
    outline: none;
}

#aviso {
    display: inline-block;
    font-size: 14px;
}

#aviso:before {
    content: url(../img/exclamacao.svg);
    display: inline-block;
    margin-right: 8px;
}

.botoes {
    width: 100%;
    display: flex;
    gap: 24px;
}

.botoes button {
    flex-grow: 1;
}

button {
    border-radius: 24px;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    cursor: pointer;
    font-family: Inter;
    padding: 24px;
    transition: 400ms;
    width: 100%;
}

button:hover {
    background-color: white;
}

.botoes button:first-child:hover {
    opacity: 50%;
}

.botoes button:first-child {
    background-color: #0A3871;
    border: none;
    color: white;
}

aside {
    align-items: center;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: 80px;
    max-width: 377px;
    padding-inline: min(40px, 5%);
    width: 100%;
}

.aside-mensagem {
    background-color: white;
    flex-direction: column;
    text-align: center;
    width: auto;
}

button, aside .aside-mensagem p {
    font-size: 14px;
}

.aside-mensagem img {
    max-width: 250px;
    min-width: 150px;
    width: 100%;
}

#texto-convertido {
    border-block: 10px solid white;
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 0;
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
}

.aside-conversao {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

h2 {
    color: #343A40;
    font-size: 20px;
}

.c-cinza-claro {
    color: #495057;
}

#texto-convertido {
    font-size: 24px;
}

.d-none {
    display: none;
}

@media (max-width: 688px) {
    .container-externo {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    header img {
        position: absolute;
        left: 0;
    }

    main {
        padding: 0;
    }

    aside {
        margin: 64px 0 0;
        margin-top: 64px;
        max-width: none;
        width: 100%;
    }

    .aside-mensagem {
        padding: 32px;
    }

    .aside-mensagem img {
        display: none;
    } 
}

@media (max-width: 515px) {
    .aside-mensagem {
        padding: 32px 5px;
    }
}

@media (max-width: 375px) {
    .botoes {
        flex-direction: column;
    }

    button {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}